$font-mini = .7em
$font-small = .9em
$font-default = 1em
$font-normal = 1.6em
$font-medium = 2.2em
$font-big = 2.4em
$font-large = 5.8em

//breakpoints
$breakpoints = {
  mobile: 798px,
  tablet: 1256px,
  desktop: 1440px
}

//font sizes
$fonts = {
  hero-title: { mobile: 2.8em, tablet: 4.4em, desktop: 5.8em },
  hero-subtitle: { mobile: 1.5em, tablet: 2em, desktop: 2.5em },
  post-title: { mobile: 1.2em, tablet: 1.4em, desktop: 1.6em },
  post-subtitle: { mobile: 1em, tablet: 1em, desktop: 1em },
  h2: { mobile: 2.4em, tablet: 3.4em, desktop: 4em },
  h3: { mobile: 2.2em, tablet: 2.8em, desktop: 3.4em },
  h4: { mobile: 1.9em, tablet: 2.4em, desktop: 2.8em }
}
